@use 'sass:map';

$hpurple: #bf9dff;
$hblue2: #3e85ff;
$hblue: #04378c;
$hdark: #1c1c1c;
$hdark2: #3c3c3c;
$hwhite: #ffffff;

$hgra1: linear-gradient(90deg, $hpurple 0%, $hblue 100%);

$hcolors: (
    hpurple: $hpurple,
    hblue: $hblue,
    hblue2: $hblue2,
    hdark: $hdark,
    hdark2: $hdark2,
    hwhite: $hwhite,
);

$hgras: (
    hgra1: $hgra1,
);

$z-index-glasspanel: 100;

$navbar-height: 6rem;
$navbar-item-img-max-height: 4rem;
